<span class="profile-button" style="font-size:30px;cursor:pointer" onclick="openNav('userInfo')">&#9776;</span>

<span class="markers-button" style="font-size:30px;cursor:pointer" onclick="openNav('markerInfo')"><img class="icon" src="/images/icon.png"></span>


<div class="map-view">
  <div id="map"></div>
  <div id='geocoder' class='geocoder'></div>
</div>



<div id="userInfo" class="sidenav">

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav('userInfo')">&times;</a>
  <img src="https://image.flaticon.com/icons/svg/138/138662.svg" alt="profile">

  <div class="info-content">
    <div id="userName"></div>
    <div id="numberOfLocations"></div>
    <div><a id="logout-button" href="/auth/logout">Logout</a></div>
  </div>

</div>



<div id="markerInfo" class="box">

  <a href="javascript:void(0)" class="closebtn" onclick="closeNav('markerInfo')">&times;</a>

  <form method='POST' action="/home">
    <label for="name">Name</label>
    <input class="marker-input" type="text" name="name" id="name" placeholder="Marker name">
    <label for="description">Description</label>
    <textarea class="text-boxes" name="description" id="description" placeholder="Add a description for your Marker" cols="30"
      rows="10"></textarea>
    <label for="tags">My tags</label>
    <textarea class="text-boxes" name="tags" id="tags" placeholder="#Madrid #Restaurant #Pub #LaLatina" cols="30" rows="10"></textarea>
    <input type="text" name="lat" id="lat" placeholder="Lat">
    <input type="text" name="lng" id="lng" placeholder="Lng">
    <button class="markers-submit-button">Add my New Marker</button>
  </form>
</div>

<div id="hola">
  <button id="boton">Hola</button>
</div>
<div id="userSearchBox">
  <input type="text" id="searchBar" onkeyup='userSearch()' placeholder="Search for a user..">



</div>


<script>
  function userSearch (){
    axios.get(`${server}/home/userList`)
      .then(users => {
        users.data.user.forEach(user => {
          console.log(document.getElementById('searchBar').value)
          console.log(user.username)
          if(user.username.includes(`${document.getElementById('searchBar').value}`)){
            var box = document.getElementById('userSearchBox')
            box.appendChild('p')
          } else{console.log('No user found')}
        })
      })
    
  }

  function openNav(target) {
    if (target == "userInfo") {
      document.querySelector("#userInfo").style.display = "block";
      document.querySelector("#markerInfo").style.display = "none";
      document.querySelector(".profile-button").style.display = "none";

    } else if (target == "markerInfo") {
      document.querySelector("#markerInfo").style.display = "block";
      document.querySelector("#userInfo").style.display = "none";
      document.querySelector(".profile-button").style.display = "block";

    }
  }

  function closeNav(target) {
    if (target == "userInfo") {
      document.querySelector("#userInfo").style.display = "none";
      document.querySelector(".profile-button").style.display = "block";
      //document.getElementById(target).style.display = "none";
      //document.querySelector(".box").style.display = "none";
    } else if (target == "markerInfo") {
      document.querySelector("#markerInfo").style.display = "none";
      document.querySelector(".profile-button").style.display = "block";
      //document.querySelector(".box").style.display = "none";

    }
  }
}
 //➕
</script>