

<span style="font-size:30px;cursor:pointer" onclick="openNav('userInfo')">&#9776;</span>

<div class="map-view">
  <pre id='info'></pre>
  <div id="map"></div>
  <div id='geocoder' class='geocoder'></div>
</div>

<div id="userInfo" class="sidenav">

    <a href="javascript:void(0)" class="closebtn" onclick="closeNav('userInfo')">&times;</a>
    <img src="https://image.flaticon.com/icons/svg/138/138662.svg" alt="profile">

<div class="info-content">
  <div id="userName"></div>
  <div id="numberOfLocations"></div>
  <div><a href="/auth/logout">Logout</a></div>

</div>



<div class="box">
  <form  action="/home" method="POST">
    <label for="name">Name</label> <br>
    <input type="text" name="name" id="name" placeholder="Add the name">
    <label for="description">Description</label>
    <textarea name="description" id="description" placeholder="Add a description for your Marker" cols="30"
      rows="10"></textarea>
    <label for="tags">Add your tags</label>
    <textarea name="tags" id="tags" placeholder="#Madrid #Restaurant #Pub #LaLatina" cols="30" rows="10"></textarea>
    <input type="text" name="lat" id="lat" placeholder="Lat">
    <input type="text" name="lng" id="lng" placeholder="Lng">
    <input type="text" id="formType" value="NewMarker">
    <button>Add your New Marker</button>
  </form>
</div>

<script>
  function openNav() {
  document.getElementById("userInfo").style.width = "250px";
  }
  
  function closeNav() {
  document.getElementById("userInfo").style.width = "0px";
  }

  openNav();
  closeNav();
</script>