@import '_login';
@import '_profile';
@import '_markers';
@import '_map';

@font-face {
  font-family: myFirstFont;
  src: url(gothamrnd-bold.woff);
}
 
 html {
	//background-color: #E1E8EE;
	align-items: center;
	justify-content: center;
	font-family: "myFirstFont", Helvetica, Arial, sans-serif;
}

body { 
  margin:0; 
  padding:0; 
}

a {
  color: grey;
}

#hola{
  position: relative;
  margin: 100px;
  }
