input {
  margin-top: 5px;
  width: 212px;
  height: 25px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "myFirstFont", Helvetica, Arial, sans-serif;
  color: grey;
  border: none;
  padding: 5px; }

.form-constructor {
  margin: auto;
  margin-top: 70px;
  height: 550px;
  width: 350px;
  background-color: #222;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

#login-header {
  padding-bottom: 80px; }

.login {
  text-align: center;
  color: white;
  padding: 50px; }

.signup {
  text-align: center;
  color: white;
  padding: 50px; }

.error-message {
  color: #cecece;
  margin-top: 4px;
  font-size: 13px; }

.submit-btn {
  width: 222px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  font-family: "myFirstFont", Helvetica, Arial, sans-serif; }

.logo {
  width: 100px;
  height: 40px; }

h3 {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
  color: grey; }

h2 {
  padding-bottom: 40px;
  padding-top: 60px; }

img {
  width: 180px;
  height: 180px;
  margin-left: 35px; }

.sidenav {
  position: relative;
  z-index: 200;
  top: 0;
  left: 0;
  width: 250px;
  height: 700px;
  background: rgba(17, 17, 17, 0.8);
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
  display: none;
  margin-bottom: 10px;
  padding-left: 20px; }

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  transition: 0.3s; }

.sidenav a:hover {
  color: lightgray; }

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px; }

.profile-button {
  margin-left: 10px;
  z-index: 9;
  position: absolute;
  color: #ffc541;
  top: 0; }

#userName {
  color: white; }

#numberOfLocations {
  color: white; }

#logout-button {
  background: #ffc541;
  width: 75px;
  margin-top: 370px;
  border-radius: 5px;
  color: white;
  font-size: 15px; }

.box {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  width: 0;
  position: relative;
  z-index: 200;
  overflow-x: hidden;
  transition: 0.1s;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  color: #ffc541; }

.markers-button {
  bottom: 0;
  z-index: 9;
  position: absolute;
  margin-left: 50%;
  margin-bottom: 20px;
  width: 40px;
  height: 40px;
  border-radius: 70%;
  text-align: center;
  padding-top: 6px;
  padding-right: 2px; }

.markers-submit-button {
  background: #ffc541;
  width: 218px;
  height: 31px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  font-family: "myFirstFont", Helvetica, Arial, sans-serif;
  font-size: 15px;
  border: none; }

#markerInfo {
  position: fixed;
  bottom: 0;
  width: 225px;
  display: none;
  padding: 30px; }

.box .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  margin-top: 5px;
  text-decoration: none; }

#lat {
  display: none; }

#lng {
  display: none; }

.text-boxes {
  width: 196px;
  border-radius: 5px;
  border: rgba(255, 255, 255, 0.8);
  font-family: "myFirstFont";
  padding: 10px;
  margin-top: 10px; }

.marker-input {
  border: none;
  margin-bottom: 10px;
  padding: 10px;
  width: 196px; }

.icon {
  height: 50px;
  width: 50px;
  margin-left: 10px;
  margin-bottom: 20px; }

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.geocoder {
  position: fixed;
  z-index: 1;
  width: 100%;
  left: 50%;
  margin-left: -25%;
  top: 20px; }

.mapboxgl-ctrl-geocoder {
  min-width: 100%; }

#info {
  display: block;
  position: relative;
  margin: 0px auto;
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 12px;
  text-align: center;
  color: #222;
  background: #fff; }

@font-face {
  font-family: myFirstFont;
  src: url(gothamrnd-bold.woff); }

html {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  font-family: "myFirstFont", Helvetica, Arial, sans-serif; }

body {
  margin: 0;
  padding: 0; }

a {
  color: grey; }

#hola {
  position: relative;
  margin: 100px; }

/*# sourceMappingURL=style.css.map */